VITE_GA_ID=           # Seu Google Analytics 4 Measurement ID (ex: G-XXXXXXXXXX)
VITE_APPS_SCRIPT_URL= #URL do Apps Script para salvar resultados no Google Sheets
VITE_FORM_ERRO_URL =  #URL base do Google Form de reporte de erro